In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r"C:\Users\suvar\Desktop\Decision tree\characters.grivg.csv")
df

,Name,Gender,Game,Age,Age_range,Playable,Sexualization,Id,Species,Side,Relevance,Romantic_Interest
0,Farah,Female,CODMW,27,Adult,1,0,CODMW_Farah,Human,P,PA,No
1,Protagonist,Custom,PSS,Teenager,Teenager,1,0,PSS_Protagonist,Human,P,PA,No
2,Magnolia,Female,PSS,Elderly,Elderly,0,0,PSS_Magnolia,Human,P,SC,No
3,Sonia,Female,PSS,26,Adult,0,0,PSS_Sonia,Human,P,SC,No
4,Marnie,Female,PSS,Teenager,Teenager,0,0,PSS_Marnie,Human,B,MC,No
...,...,...,...,...,...,...,...,...,...,...,...,...
632,Beni,Male,KBOS,Infant,Infant,0,0,KBOS_Beni,Human,P,SC,No
633,Taro,Male,KBOS,Child,Child,0,0,KBOS_Taro,Human,P,SC,No
634,Rusu,Male,KBOS,Adult,Adult,0,0,KBOS_Rusu,Human,P,SC,No
635,Adira,Female,KBOS,Adult,Adult,0,0,KBOS_Adira,Human,P,SC,No
636,Hana,Female,KBOS,Adult,Adult,0,0,KBOS_Hana,Human,P,SC,No

In [3]:
df.head(5)

,Name,Gender,Game,Age,Age_range,Playable,Sexualization,Id,Species,Side,Relevance,Romantic_Interest
0,Farah,Female,CODMW,27,Adult,1,0,CODMW_Farah,Human,P,PA,No
1,Protagonist,Custom,PSS,Teenager,Teenager,1,0,PSS_Protagonist,Human,P,PA,No
2,Magnolia,Female,PSS,Elderly,Elderly,0,0,PSS_Magnolia,Human,P,SC,No
3,Sonia,Female,PSS,26,Adult,0,0,PSS_Sonia,Human,P,SC,No
4,Marnie,Female,PSS,Teenager,Teenager,0,0,PSS_Marnie,Human,B,MC,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               637 non-null    object
 1   Gender             637 non-null    object
 2   Game               637 non-null    object
 3   Age                637 non-null    object
 4   Age_range          637 non-null    object
 5   Playable           637 non-null    int64
 6   Sexualization      637 non-null    int64
 7   Id                 637 non-null    object
 8   Species            637 non-null    object
 9   Side               637 non-null    object
 10  Relevance          637 non-null    object
 11  Romantic_Interest  637 non-null    object
dtypes: int64(2), object(10)
memory usage: 59.8+ KB

In [5]:
df.describe()

         Playable  Sexualization
count  637.000000     637.000000
mean     0.193093       0.086342
std      0.395035       0.389022
min      0.000000       0.000000
25%      0.000000       0.000000
50%      0.000000       0.000000
75%      0.000000       0.000000
max      1.000000       3.000000

In [6]:
df = df.drop(['Name'],axis=1)
df.columns

Index(['Gender', 'Game', 'Age', 'Age_range', 'Playable', 'Sexualization', 'Id',
       'Species', 'Side', 'Relevance', 'Romantic_Interest'],
      dtype='object')

In [9]:
df['Playable '] =df["Playable "].replace(" ",np.nan).astype(float)

KeyError: 'Playable '