In [1]:
#Importing libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O 
import os
import matplotlib.pyplot as plt#visualization
from PIL import  Image
%matplotlib inline
import pandas as pd
import seaborn as sns#visualization
import itertools
import warnings
warnings.filterwarnings("ignore")
import io
import plotly.offline as py#visualization
py.init_notebook_mode(connected=True)#visualization
import plotly.graph_objs as go#visualization
import plotly.tools as tls#visualization
import plotly.figure_factory as ff#visualization

In [5]:
import pandas as pd
data = pd.read_csv (r"transfusion.csv")

In [6]:
data.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [10]:
data.columns=['Recencymonths','Frequencytimes','Monetaryccblood','Timemonths','donatedbloodinMarch']
data.columns

Index(['Recencymonths', 'Frequencytimes', 'Monetaryccblood', 'Timemonths',
       'donatedbloodinMarch'],
      dtype='object')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Recencymonths        748 non-null    int64
 1   Frequencytimes       748 non-null    int64
 2   Monetaryccblood      748 non-null    int64
 3   Timemonths           748 non-null    int64
 4   donatedbloodinMarch  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [12]:
telcom.whether donatedbloodinMarch.value_counts()

SyntaxError: invalid syntax (3978484980.py, line 1)